#grid-container {
    padding-bottom: 10px;
}
.grid {
    background-color: #C5D6C6;
    border-spacing: 0;
}

.gridCell {
    border: 1px solid #F1F5DA;
    width: 20px;
    height: 20px;
}
body {
    padding: 20px;
    background-color: black;
}